@if (content()) {
  <section class="section-container">
    <h2>{{ title }}</h2>

    <div style="padding: 1rem;">
      <table class="custom-table">
        <tr style="background-color: rgb(192, 188, 188)">
          <th>language</th>
          <th>read</th>
          <th>spoken</th>
          <th>written</th>
        </tr>

        @for (data of content(); track data.id) {
          <tr>
            <td>{{ data.language }}</td>
            <td>{{ data.read }}</td>
            <td>{{ data.spoken }}</td>
            <td>{{ data.written }}</td>
          </tr>
        }
      </table>
    </div>
  </section>
}
