.header-container {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;

  h1 {
    font-size: clamp(1em, 3.5vw, 3em);
    color: #1d50a3ea;
  }

  p {
    margin-top: 0.5rem;
    font-size: clamp(0.8em, 1.5vw, 1.8em);
  }
}
