<main>
  <p id="title">Professional Resume</p>
  <hr />
  <h1>
    {{ data().header.firstName }}
    {{ data().header.lastName }}
  </h1>
  <h2>
    {{ data().header.street }}
    {{ data().header.city }}
    {{ data().header.state }}
    {{ data().header.zipCode }}
  </h2>
  <h3>
    {{ data().header.phone }} -
    {{ data().header.email }}
  </h3>

  @if (data().experience) {
    <div class="template-section-experience">
      <h3>professional experience</h3>

      @for (data of data().experience; track data.id) {
        <div style="padding: 0.5rem">
          <p>
            <strong>{{ data.position }}</strong>
          </p>
          <p>
            <strong>{{ data.organization }}</strong>
          </p>
          <p>
            {{ data.address }}, {{ data.city }} - {{ data.state }}
            {{ data.zipCode }}
          </p>
          <p>
            <strong>start date</strong>: {{ data.startDate }} -
            <strong>end date</strong>: {{ data.endDate }}
          </p>
          <p>
            <strong>hours per week</strong>: {{ data.hours }} -
            <strong>salary</strong>: ${{ data.salary }}
          </p>
          <p>{{ data.skills }}</p>
        </div>
      }
    </div>
  }

  @if (data().summary) {
    <div class="template-section">
      <h3>professional summary</h3>
      <p>{{ data().summary.value }}</p>
    </div>
  }

  @if (data().certifications) {
    <div class="template-section">
      <h3>certifications</h3>
      <p>{{ data().certifications.value }}</p>
    </div>
  }

  @if (data().languages) {
    <div class="template-section-table">
      <h3>languages</h3>

      @for (data of data().languages; track data.id) {
        <div>
          <p>
            <strong>
              {{ data.language }}
            </strong>
          </p>
          <p><strong>read</strong>: {{ data.read }}</p>
          <p><strong>spoken</strong>: {{ data.spoken }}</p>
          <p><strong>written</strong>: {{ data.written }}</p>
        </div>
      }
    </div>
  }

  @if (data().awards) {
    <div class="template-section">
      <h3>awards</h3>
      <p>{{ data().awards.value }}</p>
    </div>
  }

  @if (data().education) {
    <div class="template-section-table">
      <h3>education</h3>

      @for (data of data().education; track data.id) {
        <div>
          <p><strong>degree</strong>: {{ data.degree }}</p>
          <p><strong>acronym</strong>: {{ data.acronym }}</p>
          <p><strong>year</strong>: {{ data.year }}</p>
          <p><strong>level</strong>: {{ data.level }}</p>
        </div>
      }
    </div>
  }

  @if (data().references) {
    <div class="template-section-table">
      <h3>references</h3>

      @for (data of data().references; track data.id) {
        <div>
          <p><strong>name</strong>: {{ data.name }}</p>
          <p><strong>employer</strong>: {{ data.employer }}</p>
          <p><strong>title</strong>: {{ data.title }}</p>
          <p><strong>phone</strong>: {{ data.phone }}</p>
          <p><strong>email</strong>: {{ data.email }}</p>
        </div>
      }
    </div>
  }

  @if (data().additional) {
    <div class="template-section">
      <h3>additional information</h3>
      <p>{{ data().additional.value }}</p>
    </div>
  }
</main>
