<main>
  <!-- HEADER  -->
  <app-dynamic-form [form]="headerConfig" />

  <!-- SUMMARY  -->
  <app-summary-section />

  <!-- EXPERIENCES  -->
  <app-btn style="text-align: center" (onClick)="toggleExp()"
    >add work experience</app-btn
  >

  @if (showExperience()) {
    <app-dynamic-form [form]="experienceConfig" (toggle)="toggleExp()" />
  }

  <!-- CERTIFICATIONS SECTION -->
  <app-certifications-section />

  <!-- LANGUAGES SECTION -->

  <!-- AWARDS SECTION  -->
  <app-awards-section />

  <!-- EDUCATION SECTION  -->
  <app-education-section />

  <!-- REFERENCES SECTION  -->
  <app-references-section />

  <!-- ADDITIONAL SECTION  -->
  <app-additional-section />
</main>
