<main>
  <!-- HEADER  -->
  <app-header-section />

  <!-- SUMMARY  -->
  <app-summary-section />

  <!-- EXPERIENCES  -->
  <app-experience-section />

  <!-- CERTIFICATIONS SECTION -->
  <app-certifications-section />

  <!-- LANGUAGES SECTION -->
  <app-language-section />
  <!-- AWARDS SECTION  -->
  <app-awards-section />

  <!-- EDUCATION SECTION  -->
  <app-education-section />

  <!-- REFERENCES SECTION  -->
  <app-references-section />

  <!-- ADDITIONAL SECTION  -->
  <app-additional-section />
</main>
