<main>
  <!-- HEADER  -->
  <app-dynamic-form [form]="headerConfig" />

  <!-- SUMMARY  -->
  <app-summary-section />

  <!-- EXPERIENCES  -->
  <app-btn style="text-align: center" (onClick)="toggleExp()"
    >add work experience</app-btn
  >

  @if (showExperience()) {
    <app-dynamic-form [form]="experienceConfig" (toggle)="toggleExp()" />
  }

  <!-- CERTIFICATIONS SECTION -->
  <app-certifications-section />

  <!-- LANGUAGES SECTION -->

  <!-- AWARDS SECTION  -->
  <app-awards-section />

  <!-- EDUCATION SECTION  -->
  <app-btn style="text-align: center" (onClick)="toggleEducation()"
    >add education
  </app-btn>

  @if (showEducation()) {
    <app-dynamic-form [form]="educationConfig" (toggle)="toggleEducation()" />
  }

  <!-- REFERENCES SECTION  -->
  <app-btn style="text-align: center" (onClick)="toggleReferences()"
    >add / edit references
  </app-btn>

  @if (showReferences()) {
    <app-dynamic-form [form]="referencesConfig" (toggle)="toggleReferences()" />
  }

  <!-- ADDITIONAL SECTION  -->
  <app-additional-section />
</main>
