* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

$shadow:
  20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;

$blue: #1d50a3ea;

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 481px) and (max-width: 1024px) {
    @content;
  }
}

.field-form {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  flex-grow: 1;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;

  label,
  input,
  select {
    padding: 0.5rem;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.error-text {
  font-size: 0.8em;
  padding: 0.5em;
  color: red;
}

textarea {
  border-radius: 2px;
  border: none;
  min-width: 100%;
  resize: none;
  padding: 0.8rem;
  flex-shrink: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.black-border {
  border: 1px solid black;
}

.custom-table {
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  font-size: clamp(0.6em, 1vw, 1.6em);
  border: 1px solid black;
  border-collapse: collapse;

  td,
  th {
    padding: 0.3em;
    border: 1px solid black;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.section-container {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;

  h2 {
    color: #1d50a3ea;
  }

  h2,
  h3,
  h4 {
    font-size: clamp(0.8em, 1.8vw, 1.8em);
  }

  p {
    font-size: clamp(0.6em, 1vw, 1.3em);
    text-wrap: pretty;
  }
}

.form-basic {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: $shadow;
  width: 80%;
  font-size: clamp(0.7em, 1.3vw, 1.3em);
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }
}
