button {
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: clamp(0.8em, 1vw, 1.5em);
}

.basic {
  transition: all 0s ease;
  border: 1px solid #3868b5;
  background-color: transparent;
  color: #3868b5;
}

.basic:hover {
  font-weight: bold;
}

.danger {
  background-color: rgba(232, 25, 25, 0.906);
  color: whitesmoke;
}

.danger:hover {
  background-color: rgba(232, 25, 25, 0.74);
}

.save {
  background-color: #3868b5;
  color: whitesmoke;
}
.save:hover {
  background-color: #3868b5ea;
}
